.content {
    height: calc(100% - 0px);
    display: grid;
    grid-template-rows: 24px 1fr;
    grid-template-columns: 200px 1fr;
  }

.grid {
  height: calc(100vh - 233px);
}

.tree {
  width: 200px; 
  height: calc(100vh - 173px);
  float: left; 
  background-color: brown;
}

:host ::ng-deep .ck-editor__editable {
  min-height: 700px !important;
}
