{{form.getRawValue() | json}}
<div class="footer">
    
    <button nz-button (click)="getWorkGroupSchedule(form.get('id').value)">
        <i nz-icon type="close" theme="outline"></i>
        조회
    </button>
    
    <button nz-button (click)="closeForm()">
        <i nz-icon type="close" theme="outline"></i>
        닫기
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary" nz-popconfirm nzTitle="저장하시겠습니까?" 
        (nzOnConfirm)="saveWorkGroupSchedule()" (nzOnCancel)="false">
        <i nz-icon type="save" theme="outline"></i>
        저장
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="danger" nz-popconfirm nzTitle="삭제하시겠습니까?"
        (nzOnConfirm)="deleteWorkGroupSchedule(form.get('id').value)" (nzOnCancel)="false">
        <i nz-icon type="delete" theme="outline"></i>
        삭제
    </button>    
</div>

<form nz-form [formGroup]="form" [nzLayout]="'vertical'">
    <!--
    <nz-form-item>
        <nz-form-label nzFor="workGroupId" [nzXs]="formLabelXs" [nzSm]="formLabelSm">작업그룹 Id</nz-form-label>
        <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
            <input nz-input id="workGroupId" formControlName="workGroupId" placeholder="작업그룹 Id를 입력해주세요.">                         
        </nz-form-control>        
    </nz-form-item>
    -->

    <nz-form-item>
        <nz-form-label nzFor="workGroupId" nzRequired [nzXs]="formLabelXs" [nzSm]="formLabelSm">작업그룹 ID</nz-form-label>
        <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
            <nz-select
                id="workGroupId"
                formControlName="workGroupId"
                nzShowSearch
                [nzSize]="'default'"
                nzPlaceHolder="Please select">
                <nz-option
                    *ngFor="let item of workGroupList"
                    [nzLabel]="item.name"
                    [nzValue]="item.id | number">
                </nz-option>
            </nz-select>             
        </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
        <nz-form-label nzFor="id" [nzXs]="formLabelXs" [nzSm]="formLabelSm">스케쥴 Id</nz-form-label>
        <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
            <input nz-input id="id" formControlName="id" placeholder="스케쥴 Id를 입력해주세요.">                         
        </nz-form-control>        
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="title" nzRequired [nzXs]="formLabelXs" [nzSm]="formLabelSm">제목</nz-form-label>
        <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
            <input nz-input id="title" formControlName="title" placeholder="제목을 입력해주세요.">             
            <nz-form-explain *ngIf="isFieldErrors(form,'title','required')">The input is Required!</nz-form-explain>
        </nz-form-control>        
    </nz-form-item>

    <!--시작일 필드-->
    <nz-form-item class="form-item">
        <nz-form-label nzFor="start" [nzXs]="formLabelXs" [nzSm]="formLabelSm">시작일</nz-form-label>
        <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
            <nz-date-picker id="start" formControlName="start" nzShowTime nzFormat="YYYY-MM-DD HH:mm:ss"></nz-date-picker>            
        </nz-form-control>
    </nz-form-item>    

    <!--종료일 필드-->
    <nz-form-item class="form-item">
        <nz-form-label nzFor="end" [nzXs]="formLabelXs" [nzSm]="formLabelSm">종료일</nz-form-label>
        <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
            <nz-date-picker id="end" formControlName="end" nzShowTime nzFormat="YYYY-MM-DD HH:mm:ss"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>

        <!--사용여부 필드-->
        <nz-form-item>
            <nz-form-label 
                nzFor="allDay"    
                [nzXs]="formLabelXs"
                [nzSm]="formLabelSm">하루종일
            </nz-form-label>
    
            <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
                <label id="allDay" nz-checkbox formControlName="allDay"></label>
            </nz-form-control>
        </nz-form-item>

</form>
