<button 
    nz-button         
    (click)="newWorkGroup()">
    <i nz-icon type="form" theme="outline"></i>
    신규 작업그룹
</button>

<button 
    nz-button         
    (click)="newSchedule()">
    <i nz-icon type="form" theme="outline"></i>
    신규 스케쥴
</button>

<button 
    nz-button         
    (click)="getMyWorkGroupList()">
    <i nz-icon type="form" theme="outline"></i>
    테스트
</button>

<div class="grid-wrapper">
    <app-myworkgroup-grid #myWorkGroupGrid style="width: 200px">
    </app-myworkgroup-grid>
    
    <app-work-calendar (itemSelected)="itemSelect($event)" style="flex: 1">
    </app-work-calendar>
    
</div>


<nz-drawer
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
    [nzMaskClosable]="true"
    [nzWidth]="720"
    [nzVisible]="scheduleDrawerVisible"
    nzTitle="스케쥴 등록"
    (nzOnClose)="closeScheduleDrawer()">
    
    <app-work-schedule-form 
        #workScheduleForm
        (formClosed)="closeScheduleDrawer()">
        
    </app-work-schedule-form>
</nz-drawer>

<nz-drawer
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
    [nzMaskClosable]="true"
    [nzWidth]="720"
    [nzVisible]="workGroupDrawerVisible"
    nzTitle="작업그룹 등록"
    (nzOnClose)="closeWorkGroupDrawer()">
    
    <app-workgroup-form 
        #workGroupForm 
        (formClosed)="closeWorkGroupDrawer()">

    </app-workgroup-form>
</nz-drawer>